<h1>Albums</h1>
<div class="main-albums">
  <% if (albums.length > 0) { %> <% albums.forEach(album => { %>
  <div class="album-card">
    <% if (album.images.length > 0) { %>
    <img src="<%= album.images[1].url %>" alt="Album Cover" />
    <% } else { %>
    <img src="/images/default-cover-art" alt="Default Image" />
    <% } %>
    <h2><%= album.name %></h2>
    <% if (album.images.length > 0) { %>
    <button class="button-42" role="button">
      <a href="/tracks/<%= album.id %>" class="btn">View Tracks</a>
    </button>
    <% } %>
  </div>
  <% }) %> <% } %>
</div>
